:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.appositebody {
  cursor: pointer;
  object-fit: fill;
  background-color: #e7e7e6;
  align-items: center;
  height: 100%;
  padding: 20px;
  display: flex;
  overflow: scroll;
}

.appositegrid {
  flex: 0 auto;
  grid-template: "Area"
                 "."
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr;
}

.heading {
  color: #000;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 48px;
  font-weight: 500;
  display: flex;
}

.paragraph {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.paragraph-2 {
  color: #2c2c2c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}

.div-block {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  display: flex;
  position: static;
}

.paragraph-3 {
  color: rgba(0, 0, 0, .8);
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.text-span {
  color: rgba(255, 5, 209, .8);
  background-color: #fff;
  border: 5px solid #fff;
}

.button {
  pointer-events: auto;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  border: 2px #86cea4;
  border-radius: 24px;
  align-self: center;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  line-height: 14px;
}

.button.w--current {
  color: #000;
  border: 3px solid #86cea4;
  border-radius: 40px;
  padding: 16px 20px;
  display: block;
}

.link {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  text-decoration: none;
}

.div-block-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
}

.heading-2 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
}

.appositecontainer {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-self: center;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.div-block-3 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  display: flex;
}

.container-2 {
  display: flex;
}

.heading-3 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
}

.appositegridsubpage {
  flex: 1;
  grid-template: "Area"
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr;
}

.appositecontainersubpage {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 0;
  display: flex;
}

.appositeheading {
  color: #000;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.heading-4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.heading-5 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.link-block {
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}

.link-block.w--current {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  text-decoration: none;
}

.div-block-4 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
}

.image {
  aspect-ratio: auto;
  object-fit: cover;
  height: 320px;
  padding-top: 20px;
  display: inline-block;
  position: static;
}

.div-block-5 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 14px;
  display: block;
}

.heading-6 {
  color: #000;
  text-align: center;
  letter-spacing: -1px;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.div-block-6 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  display: flex;
}

.div-block-7 {
  object-fit: fill;
  flex: 1;
  height: 400px;
  max-height: 480px;
  overflow: hidden;
}

.image-2 {
  flex: 0 auto;
  align-self: center;
  line-height: 14px;
}

.body {
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  object-position: 50% 0%;
  background-color: #e7e7e6;
  background-clip: border-box;
  overflow: auto;
}

.image-3 {
  aspect-ratio: 2.39;
  object-fit: cover;
  width: 100%;
  position: static;
}

.div-block-8 {
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.paragraph-4 {
  color: #1d1d1d;
  text-align: center;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 500;
}

.paragraph-5 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.div-block-9 {
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  display: flex;
}

.heading-7 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.paragraph-6 {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.div-block-10 {
  padding-top: 10px;
}

.image-4 {
  object-fit: cover;
}

.div-block-11 {
  z-index: 9999;
  background-color: #252525;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.appositesupport {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 0;
  display: flex;
}

.div-block-12 {
  background-color: #505050;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

.video {
  object-fit: fill;
  max-width: 940px;
}

.div-block-13 {
  z-index: 999;
  color: #5f5f5f;
  background-color: #b4b4b4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

.image-5 {
  object-fit: contain;
}

.div-block-14 {
  max-width: 940px;
  display: flex;
}

.heading-8 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  line-height: 38px;
  text-decoration: none;
}

.div-block-15 {
  color: rgba(77, 77, 77, 0);
  flex-direction: column;
  justify-content: flex-end;
  min-width: 940px;
  display: flex;
}

.div-block-16 {
  align-self: flex-start;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-5 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image-6 {
  border-radius: 24px;
}

.div-block-17 {
  background-image: url('../images/vibescapeEmpty.jpg');
  background-position: 0 0;
  background-size: cover;
  padding-top: 40px;
}

.div-block-18 {
  background-image: url('../images/vibescapeEmptyMasked2.png');
  background-position: 0 0;
  background-size: cover;
  height: 400px;
  margin-top: 40px;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.grid {
  grid-template-rows: 382px auto;
  min-height: 24%;
}

.heading-9 {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  font-weight: 100;
}

.heading-10 {
  color: #ddd;
  text-align: left;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}

.image-7 {
  margin-left: 20px;
}

.div-block-19 {
  position: relative;
}

.body-2 {
  background-color: #0a0a0a;
}

.appositegridsubpage-copy {
  flex: 1;
  grid-template: "Area"
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr;
}

.heading-11 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 100;
}

.heading-12 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 500;
}

.heading-13 {
  color: #fff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 300;
}

.heading-14 {
  color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 400;
}

.heading-6-copy {
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.paragraph-4-copy {
  color: #999;
  text-align: center;
  text-align: center;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 500;
}

.div-block-20 {
  padding-left: 40px;
}

.appositeheading-copy {
  color: #fff;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.link-copy {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  text-decoration: none;
}

.appositeheading-copy-copy {
  color: #000;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.image-copy {
  aspect-ratio: auto;
  object-fit: cover;
  flex: 1;
  padding-top: 20px;
  display: inline-block;
  position: static;
}

.background-video {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: block;
  position: relative;
}

.heading-9-copy {
  color: #070707;
  text-align: left;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.heading-10-copy {
  color: #313131;
  text-align: left;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.section {
  display: block;
}

.section-2 {
  width: 100%;
  height: 100%;
}

.section-3 {
  min-height: 0;
  margin-top: 100px;
}

.heading-10-copy-copy {
  color: #313131;
  text-align: left;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.image-8 {
  margin-top: 100px;
}

.section-5 {
  margin-top: 100px;
  padding-top: 60px;
}

.div-block-19-copy {
  position: relative;
}

.image-9 {
  margin-top: 40px;
}

.code-embed {
  margin-top: 40px;
  margin-left: -20px;
}

@media screen and (max-width: 991px) {
  .appositebody {
    background-color: #e7e7e6;
    background-image: none;
  }

  .heading {
    color: #000;
  }

  .paragraph-2 {
    color: #1b1b1b;
  }

  .paragraph-3 {
    color: rgba(19, 19, 19, .8);
  }

  .button {
    color: #000;
    background-color: #fff;
    border: 2px #86cea4;
    border-radius: 24px;
  }

  .button.w--current {
    display: none;
  }

  .link {
    text-decoration: none;
  }

  .heading-2 {
    color: #000;
  }

  .div-block-11 {
    z-index: 1;
  }

  .div-block-15 {
    width: 100%;
    min-width: 0;
    max-width: 940px;
    padding: 40px;
  }

  .link-copy {
    text-decoration: none;
  }

  .section-5 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    margin-top: 20px;
  }

  .heading-10 {
    margin-bottom: 20px;
    padding-right: 60px;
    line-height: 18px;
  }

  .div-block-19 {
    margin-bottom: 20px;
  }

  .heading-10-copy, .heading-10-copy-copy {
    margin-bottom: 20px;
    padding-right: 60px;
    line-height: 18px;
  }

  .section-5 {
    margin-top: 0;
  }

  .div-block-19-copy {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .appositebody {
    object-fit: fill;
    overflow: scroll;
  }

  .appositegrid {
    grid-column-gap: 14px;
    grid-template: "Area Area"
                   ". ."
                   ". ."
                   ". ."
                   / 1fr;
    grid-auto-flow: column;
  }

  .div-block {
    padding-left: 10px;
  }

  .div-block-2 {
    justify-content: space-around;
    padding-right: 0;
  }

  .appositegridsubpage {
    grid-column-gap: 16px;
    flex-direction: column;
    grid-template: "Area Area"
    / 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }

  .appositecontainersubpage {
    flex-direction: column;
    flex: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .appositeheading {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .heading-5, .heading-6 {
    font-size: 32px;
    line-height: 32px;
  }

  .div-block-6 {
    flex-direction: column;
  }

  .appositesupport {
    flex-direction: column;
    flex: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .heading-8 {
    font-size: 24px;
  }

  .div-block-15 {
    padding: 10px;
  }

  .link-block-3, .link-block-4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .link-block-5 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .image-6 {
    border-radius: 8px;
  }

  .div-block-18 {
    background-position: 0%;
    background-size: cover;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .heading-9 {
    padding-left: 0;
  }

  .heading-10 {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 100px;
    font-size: 14px;
    line-height: 18px;
  }

  .div-block-19 {
    padding-left: 10px;
  }

  .appositegridsubpage-copy {
    grid-column-gap: 16px;
    flex-direction: column;
    grid-template: "Area Area"
    / 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }

  .heading-14 {
    text-align: center;
  }

  .heading-6-copy {
    font-size: 32px;
    line-height: 32px;
  }

  .div-block-20 {
    padding-left: 0;
  }

  .appositeheading-copy, .appositeheading-copy-copy {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .heading-9-copy {
    margin-top: 40px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 24px;
  }

  .heading-10-copy {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  .section-3 {
    margin-top: 40px;
    padding-left: 10px;
  }

  .heading-10-copy-copy {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  .image-8 {
    aspect-ratio: auto;
    object-fit: fill;
    margin-top: 10px;
  }

  .section-5 {
    margin-top: -40px;
    padding-top: 0;
  }

  .div-block-19-copy {
    padding-left: 0;
  }

  .code-embed {
    min-width: 300px;
  }
}

#w-node-c6e7c22c-967d-4996-acfd-b9229ca99ecb-5bf49b5b {
  grid-area: 1 / 1 / 3 / 3;
  align-self: center;
}

#w-node-_0690ff58-d16f-e061-21f4-a3b0202ff329-5bf49b5b {
  grid-area: Area;
}

#w-node-ef497c57-bd37-ce06-fe4d-31325ef032f6-5bf49b5b {
  grid-area: 1 / 3 / 3 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-_159317a7-7e33-7fce-0d3a-1889979b200b-5bf49b5b {
  grid-area: span 2 / span 4 / span 2 / span 4;
}

#w-node-_0ec54ad5-ca9a-f6fe-bac1-9eaf19aeb450-5bf49b5b {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
}

#w-node-d5dbf69b-fb6b-2470-d4aa-f982157a5d7f-5bf49b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3854ced9-3d42-8b86-4f69-08b9a46b5c01-5bf49b5b, #w-node-_4450f104-bb6c-273d-70de-128d987b2a73-5bf49b5b {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4450f104-bb6c-273d-70de-128d987b2a79-5bf49b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f9ffa627-afbf-58c9-9b6d-a2777b4bf710-5bf49b5b, #w-node-a8cea127-3e72-a9ee-9a3c-19bde7fd3e87-5bf49b5b, #w-node-_82c34181-3a06-b071-3ae2-a849d6378f42-5bf49b5b, #w-node-feb95c8b-088c-cea2-3dbe-bef1e6070b4d-5bf49b5b {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-aed20a80-68a1-cbe3-f647-7bb35722b53a-5bf49b5b {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-fbdec27c-525e-2b9c-65d7-2402f25d221a-5bf49b5b {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;
  justify-self: start;
}

#w-node-c68fd8dc-f1f5-66a6-865c-b662a9910598-1ae09254 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_44fbf2c9-fcdd-6834-f84b-ff74be5846b7-1ae09254 {
  grid-area: Area;
}

#w-node-_816e610b-845f-1b03-f29c-a21239de661b-1ae09254 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-a58fa39e-fa48-d7fd-4044-4c661c554ed4-1ae09254 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-b862416c-b3c9-ec56-4edf-cb3b9c99bb57-1ae09254 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-_412377cc-a32d-afea-4c75-ae9f783e5a9a-1ae09254 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;
  justify-self: center;
}

#w-node-_69ee88d8-7b2c-edb6-018f-fc00fa2879ef-1ae09254 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-ea712b67-cdf8-476c-cd8d-6db31c24fefd-1ae09254 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_38faacc1-a6b4-ad45-149b-c92c8b62b760-1ae09254, #w-node-_8904c28c-bddb-3ed6-88a6-0ec9ac840bd9-1ae09254, #w-node-deca387f-4d33-5ab1-83f1-7232b1faf720-1ae09254, #w-node-_4cfd2700-6bb7-fc84-f3bd-10d0d8d9df2b-1ae09254, #w-node-_20cf4509-ba44-0a6e-f768-aeb2884abc4c-1ae09254 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_304bc399-877a-c7a4-0e60-c3ed0200603a-0200603a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac8906-ccf1b193 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac8907-ccf1b193 {
  grid-area: Area;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac890a-ccf1b193 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac890f-ccf1b193 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac8910-ccf1b193 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac892f-ccf1b193 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb02797-20d875c0 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb02798-20d875c0 {
  grid-area: Area;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb0279b-20d875c0 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb027a0-20d875c0 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb027a1-20d875c0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-_95dc17e2-9fdd-6796-1db8-8c389eb027a3-20d875c0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb7739396-af060416 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb7739397-af060416 {
  grid-area: Area;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb773939a-af060416 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb773939f-af060416 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb77393a0-af060416 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-d09fa9ce-601c-3333-639d-fd0fb77393a2-af060416 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e067-dbc56471 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e068-dbc56471 {
  grid-area: Area;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e06b-dbc56471 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e070-dbc56471 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e071-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e08b-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e075-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;
  justify-self: center;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e076-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e077-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_47258155-a1f4-3bd3-2d2c-18c16555e083-dbc56471, #w-node-e7d7320d-d7d5-98fa-4134-9a7858002f7a-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e091-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e097-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e0a1-dbc56471 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-c68fd8dc-f1f5-66a6-865c-b662a9910598-d02586a0 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
}

#w-node-_44fbf2c9-fcdd-6834-f84b-ff74be5846b7-d02586a0 {
  grid-area: Area;
}

#w-node-_816e610b-845f-1b03-f29c-a21239de661b-d02586a0 {
  grid-area: 1 / 3 / 2 / 5;
  align-self: center;
  justify-self: end;
}

#w-node-a58fa39e-fa48-d7fd-4044-4c661c554ed4-d02586a0 {
  grid-area: span 2 / span 4 / span 2 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-b862416c-b3c9-ec56-4edf-cb3b9c99bb57-d02586a0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: center;
}

#w-node-_412377cc-a32d-afea-4c75-ae9f783e5a9a-d02586a0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;
  justify-self: center;
}

#w-node-ea712b67-cdf8-476c-cd8d-6db31c24fefd-d02586a0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
  justify-self: center;
}

#w-node-_38faacc1-a6b4-ad45-149b-c92c8b62b760-d02586a0, #w-node-_8904c28c-bddb-3ed6-88a6-0ec9ac840bd9-d02586a0, #w-node-deca387f-4d33-5ab1-83f1-7232b1faf720-d02586a0, #w-node-_4cfd2700-6bb7-fc84-f3bd-10d0d8d9df2b-d02586a0, #w-node-_20cf4509-ba44-0a6e-f768-aeb2884abc4c-d02586a0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

@media screen and (max-width: 479px) {
  #w-node-c6e7c22c-967d-4996-acfd-b9229ca99ecb-5bf49b5b {
    grid-area: 1 / 1 / 2 / 3;
    align-self: end;
  }

  #w-node-ef497c57-bd37-ce06-fe4d-31325ef032f6-5bf49b5b {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: start;
  }

  #w-node-_159317a7-7e33-7fce-0d3a-1889979b200b-5bf49b5b {
    grid-area: 3 / 1 / 4 / 4;
  }

  #w-node-_0ec54ad5-ca9a-f6fe-bac1-9eaf19aeb450-5bf49b5b {
    grid-column: 1 / 2;
  }

  #w-node-_3854ced9-3d42-8b86-4f69-08b9a46b5c01-5bf49b5b {
    grid-area: 4 / 1 / 5 / 4;
  }

  #w-node-_4450f104-bb6c-273d-70de-128d987b2a73-5bf49b5b {
    grid-area: 5 / 1 / 6 / 4;
  }

  #w-node-f9ffa627-afbf-58c9-9b6d-a2777b4bf710-5bf49b5b {
    grid-area: 7 / 1 / 8 / 4;
  }

  #w-node-a8cea127-3e72-a9ee-9a3c-19bde7fd3e87-5bf49b5b {
    grid-area: 6 / 1 / 7 / 4;
  }

  #w-node-_82c34181-3a06-b071-3ae2-a849d6378f42-5bf49b5b {
    grid-area: 1 / 1 / 2 / 4;
  }

  #w-node-feb95c8b-088c-cea2-3dbe-bef1e6070b4d-5bf49b5b {
    grid-area: 8 / 1 / 9 / 4;
  }

  #w-node-aed20a80-68a1-cbe3-f647-7bb35722b53a-5bf49b5b {
    grid-area: 9 / 1 / 10 / 4;
  }

  #w-node-fbdec27c-525e-2b9c-65d7-2402f25d221a-5bf49b5b {
    grid-area: 10 / 1 / 11 / 4;
  }

  #w-node-c68fd8dc-f1f5-66a6-865c-b662a9910598-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_816e610b-845f-1b03-f29c-a21239de661b-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-a58fa39e-fa48-d7fd-4044-4c661c554ed4-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_412377cc-a32d-afea-4c75-ae9f783e5a9a-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: start;
  }

  #w-node-ea712b67-cdf8-476c-cd8d-6db31c24fefd-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_38faacc1-a6b4-ad45-149b-c92c8b62b760-1ae09254 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8904c28c-bddb-3ed6-88a6-0ec9ac840bd9-1ae09254, #w-node-deca387f-4d33-5ab1-83f1-7232b1faf720-1ae09254, #w-node-_4cfd2700-6bb7-fc84-f3bd-10d0d8d9df2b-1ae09254, #w-node-_20cf4509-ba44-0a6e-f768-aeb2884abc4c-1ae09254 {
    grid-column: span 1 / span 1;
  }

  #w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac8906-ccf1b193 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac890a-ccf1b193 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac890f-ccf1b193 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_9a122d90-bff4-fba8-3fe2-88d3b9ac892f-ccf1b193 {
    grid-column: span 1 / span 1;
  }

  #w-node-_95dc17e2-9fdd-6796-1db8-8c389eb02797-20d875c0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_95dc17e2-9fdd-6796-1db8-8c389eb0279b-20d875c0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-_95dc17e2-9fdd-6796-1db8-8c389eb027a0-20d875c0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_95dc17e2-9fdd-6796-1db8-8c389eb027a3-20d875c0 {
    grid-column: span 1 / span 1;
  }

  #w-node-d09fa9ce-601c-3333-639d-fd0fb7739396-af060416 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-d09fa9ce-601c-3333-639d-fd0fb773939a-af060416 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-d09fa9ce-601c-3333-639d-fd0fb773939f-af060416 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-d09fa9ce-601c-3333-639d-fd0fb77393a2-af060416 {
    grid-column: span 1 / span 1;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e067-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e06b-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e070-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e08b-dbc56471 {
    grid-column: span 1 / span 1;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e075-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: start;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e077-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e083-dbc56471 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e7d7320d-d7d5-98fa-4134-9a7858002f7a-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e091-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e097-dbc56471, #w-node-_47258155-a1f4-3bd3-2d2c-18c16555e0a1-dbc56471 {
    grid-column: span 1 / span 1;
  }

  #w-node-c68fd8dc-f1f5-66a6-865c-b662a9910598-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
  }

  #w-node-_816e610b-845f-1b03-f29c-a21239de661b-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: end;
  }

  #w-node-a58fa39e-fa48-d7fd-4044-4c661c554ed4-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_412377cc-a32d-afea-4c75-ae9f783e5a9a-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: start;
    justify-self: start;
  }

  #w-node-ea712b67-cdf8-476c-cd8d-6db31c24fefd-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: start;
  }

  #w-node-_38faacc1-a6b4-ad45-149b-c92c8b62b760-d02586a0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8904c28c-bddb-3ed6-88a6-0ec9ac840bd9-d02586a0, #w-node-deca387f-4d33-5ab1-83f1-7232b1faf720-d02586a0, #w-node-_4cfd2700-6bb7-fc84-f3bd-10d0d8d9df2b-d02586a0, #w-node-_20cf4509-ba44-0a6e-f768-aeb2884abc4c-d02586a0 {
    grid-column: span 1 / span 1;
  }
}


